
services:
  auth-api:
    build:
      context: ./auth-api/
      dockerfile: Dockerfile # inutile ?
      target: production
    image: auth-service:1.0.0 # utile ?
    container_name: auth-api_prod ## prod ?
    init: true
    read_only: true #a enlever si base de donnee non ?
    tmpfs:
      - /tmp
    env_file:
      - ./auth-api/.env
    environment:
      - JWT_SECRET=${JWT_SECRET}
      - AUTH_DB=${AUTH_DB}
      - AUTH_DB_USER=${AUTH_DB_USER}
      - AUTH_DB_PASSWORD=${AUTH_DB_PASSWORD}
      - NODE_SSL_KEY_PATH=${NODE_SSL_KEY_PATH}
      - NODE_SSL_CERT_PATH=${NODE_SSL_CERT_PATH}
    volumes:
      - certs-data:/certs/
    depends_on:
      cert-gen:
        condition: service_completed_successfully
    labels:
      - "traefik.http.routers.auth-api.rule=PathPrefix(`/api/auth`)"
      - "traefik.http.routers.auth-api.entrypoints=websecure"
      - "traefik.http.routers.auth-api.tls=true"
      - "traefik.http.services.auth-api.loadbalancer.server.scheme=https"
      - "traefik.http.services.auth-api.loadbalancer.server.port=443"

  databse:
    image: postgres:18.1-alpine3.23
    restart: always
    env_file:
      - ./database/.env
    environment:
      - AUTH_DB_USER=${AUTH_DB_USER}
      - AUTH_DB=${AUTH_DB}
      - AUTH_DB_PASSWORD=${AUTH_DB_PASSWORD}
      - CHAT_DB_USER=${CHAT_DB_USER}
      - CHAT_DB=${CHAT_DB}
      - CHAT_DB_PASSWORD=${CHAT_DB_PASSWORD}
    command: postgres -c ssl=on -c ssl_cert_file=${DB_SSL_CERT_PATH} -c ssl_key_file=${DB_SSL_KEY_PATH}
    volumes:
      - ./database/init-user-db.sh:/docker-entrypoint-initdb.d/init-user-db.sh
      - certs-data:/certs/
    depends_on:
      cert-gen:
        condition: service_completed_successfully
    labels:
      - "traefik.enable=false"

  game-api:
    build:
      context: ./game-api/
      target: production
    image: game-service:1.0.0
    container_name: game-api_prod
    init: true
    read_only: true
    tmpfs:
      - /tmp
    environment:
      - JWT_SECRET=${JWT_SECRET}
      - NODE_SSL_KEY_PATH=${NODE_SSL_KEY_PATH}
      - NODE_SSL_CERT_PATH=${NODE_SSL_CERT_PATH}
    depends_on:
      cert-gen:
        condition: service_completed_successfully
    labels:
      - "traefik.http.routers.game-api.rule=PathPrefix(`/api/games`)"
      - "traefik.http.routers.game-api.entrypoints=websecure"
      - "traefik.http.routers.game-api.tls=true"
      - "traefik.http.services.game-api.loadbalancer.server.scheme=https"
      - "traefik.http.services.game-api.loadbalancer.server.port=443"
    volumes:
      - certs-data:/certs/


  traefik:
    image: traefik:v3.6
    command:
      - "--providers.docker=true"
      - "--entrypoints.websecure.address=:443"
      - "--serverstransport.insecureSkipVerify=true"
    ports:
      - "8443:443"
    volumes:
      - ${DOCKER_SOCKET_PATH:-/var/run/docker.sock}:/var/run/docker.sock:ro


  cert-gen:
    image: alpine/openssl
    entrypoint: ['/bin/sh', '/cert-gen/script.sh']
    environment:
      - NODE_SSL_KEY_PATH=${NODE_SSL_KEY_PATH}
      - NODE_SSL_CERT_PATH=${NODE_SSL_CERT_PATH}
      - DB_SSL_KEY_PATH=${DB_SSL_KEY_PATH}
      - DB_SSL_CERT_PATH=${DB_SSL_CERT_PATH}
    volumes:
      - certs-data:/certs/
      - ./cert-gen/script.sh:/cert-gen/script.sh
    labels:
      - "traefik.enable=false"

  frontend:
      build: 
        context: ./debug-client
      labels:
        - "traefik.http.routers.front.rule=PathPrefix(`/`)"
        - "traefik.http.routers.front.entrypoints=websecure"
        - "traefik.http.routers.front.tls=true"
        - "traefik.http.services.front.loadbalancer.server.port=80"

volumes:
  certs-data:
