
services:
  auth-api:
    build:
      context: ./auth-api/
      dockerfile: Dockerfile # inutile ?
      target: production
    image: auth-service:1.0.0 # utile ?
    container_name: auth-api_prod ## prod ?
    init: true
    read_only: true #a enlever si base de donnee non ?
    tmpfs:
      - /tmp
    environment:
      - JWT_SECRET=${JWT_SECRET}
      - AUTH_DB=${AUTH_DB}
      - AUTH_DB_USER=${AUTH_DB_USER}
      - AUTH_DB_PASSWORD=${AUTH_DB_PASSWORD}
    labels:
      - "traefik.http.routers.whoami-03.rule=PathPrefix(`/api/auth`)"

  databse:
    image: postgres:18.1-alpine3.23
    restart: always
    env_file:
      - ./database/.env
    environment:
      - AUTH_DB_USER=${AUTH_DB_USER}
      - AUTH_DB=${AUTH_DB}
      - AUTH_DB_PASSWORD=${AUTH_DB_PASSWORD}
      - CHAT_DB_USER=${CHAT_DB_USER}
      - CHAT_DB=${CHAT_DB}
      - CHAT_DB_PASSWORD=${CHAT_DB_PASSWORD}
    volumes:
      - ./database/init-user-db.sh:/docker-entrypoint-initdb.d/init-user-db.sh

  game-api:
    build:
      context: ./game-api/
      target: production
    image: game-service:1.0.0
    container_name: game-api_prod
    init: true
    read_only: true
    tmpfs:
      - /tmp
    environment:
      - JWT_SECRET=${JWT_SECRET}
    labels:
      - "traefik.http.routers.whoami-03.rule=PathPrefix(`/api/games`)"

  traefik:
    image: traefik:v3.6
    command:
      - "--providers.docker=true"
      - "--api.insecure=true" # a metre a false pour la prode donc metre cette ligne dans le override
      - "--entrypoints.web.address=:80"
    ports:
      - 80:80
      - 8080:8080
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock